@using MyPlacesBox.Common
@model MyPlacesBox.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Add Hikes";
}

<div class="text-center">
    <a class="button" asp-controller="GatherHikes" asp-action="Add">Add Data for hikes</a>
</div>
