<section>
    <div class="shell clearfix">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/" target="_self">Home page</a></li>
                <li>About My Places Box</li>
            </ul>
        </nav>
        <section class="w-100 p-3">

            <header class="title">
                <h1>About My Places Box</h1>
            </header>

            <section class="w-100 p-3" style="margin:0; padding:0;">

                <div class="entry-image">
                    <div class="slider">
                        <ul class="slides">
                            <li class="slide">
                                <img style="width: 100%; height: 450px;" src="~/images/home/winter_head.jpg" class="attachment-full size-full" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <article class="entry">
                    <p>Всичко започна с една идея за лично улеснение, която прерасна, за да достигне сегашните си размери и да продължава да бъде надграждана в бъдеще. Тъй като сам събирам, проверявам и обработвам информацията ще е необходимо време да превърна своите виждания в удобна за всички система, но началото е положено!</p>
                    <p>Казвам се Панайот Толев и съм ентусиаст, който обича да пътува и да се наслаждава на хилядите културни, исторически и природни дадености на красива България. Гледам да отделям всеки свободен ден за някоя разходка &#8211; било по туристическите пътеки сред природата, било до някоя от близките (и не толкова близки) забележителности. Неизменно с мен са най-скъпите за мен неща &#8211; невероятната ми съпруга, възможно най-много приятели и фотоапарат.</p>
                    <p>Обичам да пътувам и да знам къде отивам. Както повечето хора, първоначално търсех информация из сайтове и форуми за забележителностите, които си набелязвах по време на екскурзиите. В последствие дойде и първият ми преход &#8211; изкачване на връх Вихрен. Великолепно! След него се запалих по преходите и започнах все по-често да търся туристически маршрути. Оттук, оттам, съумявах да намеря някаква информация, но освен, че процесът по събирането ѝ беше бавен и тромав, самата информация за маршрутите беше прекалено оскъдна. Още по-трудно ставаше ако трябва да се съчетае със забележителностите в определен регион.</p>
                    <p>Тогава се зародиха първите идеи да улесня живота си и да спра да отделям прекалено много време в планирането на екскурзиите, вместо да се насладя на самите тях. Трябваше просто да започна да организирам информацията и да го правя онлайн, за да е достъпна навсякъде и по всяко време, там където изгорелия твърд диск на компютъра не може да причини щети. Или поне така си мислeх. Всеки път се оказваше, че трябва отново да проверявам малките детайли, което ме накра да се замисля, дали няма още по-добър вариант.</p>
                    <p>Наред с това започнах да си задавам много други въпроси, които не присъстваха в стандартната туристическа информация: “Знам ли къде мога да пренощувам между преходите?”, “В такава богата на традиции държава, знам ли кога и къде се провеждат културни събития?”, “Имам ли достатъчно подробна и точна информация за това, което искам да направя?”</p>
                    <p>А отговорите идваха също толкова бързо, колкото се бяха породили въпросите: “Трябва ми списък с хижите и заслоните.”, “Ще е добре да създам културен календар, който да допълвам постоянно.” и “Трябва да намеря и извадя на удобно място най-важната информация, от която имам нужда.”</p>
                    <p>Сред всички въпроси, които преминаваха през съзнанието ми един след друг, все повече започна да се откроява един от тях, може би най-важният: “Ако аз желая улеснение, дали от това нямат нужда и много други хора и мога ли да помогна със своите идеи и на тях?”</p>
                    <p>Отговорът стои пред вас. Мога да ви представя My Places Box. Един проект, изграден с голям ентусиазъм в множество безсънни нощи и създаден да помага на потребителя да се ориентира бързо, лесно и удобно сред безкрайните възможности за опознаване на България. Единен портал, който има за цел да систематизира всички аспекти на туризма в страната и да се развива в помощ на своите последователи.</p>
                    <p>Надявам се да харесате това начинание и да проявите търпение за неговото развитие. От мен остава обещанието, че ще продължавам усилената работа, за да превърна My Places Box в любимо място за развлечение и предпочитан начин за организация на вашата екскурзия.</p>
                    <h2>Parthers</h2>
                    <p>
                        <a href="https://bps-bg.org" target="_blank" class="no-popup" rel="noopener">
                            <img class="alignnone wp-image-11448" src="https://tripsjournal.com/wp-content/uploads/2018/08/logo-150x150.png" alt="" width="100" height="100" srcset="https://tripsjournal.com/wp-content/uploads/2018/08/logo-150x150.png 150w, https://tripsjournal.com/wp-content/uploads/2018/08/logo-300x300.png 300w, https://tripsjournal.com/wp-content/uploads/2018/08/logo-768x768.png 768w, https://tripsjournal.com/wp-content/uploads/2018/08/logo.png 960w" sizes="(max-width: 100px) 100vw, 100px" />
                        </a>
                        <a href="http://www.astom.org/bg/" target="_blank" class="no-popup" rel="noopener">
                            <img class="alignnone wp-image-8996" src="https://tripsjournal.com/wp-content/uploads/2017/06/astom_badge-150x150.png" alt="" width="100" height="100" srcset="https://tripsjournal.com/wp-content/uploads/2017/06/astom_badge-150x150.png 150w, https://tripsjournal.com/wp-content/uploads/2017/06/astom_badge.png 260w" sizes="(max-width: 100px) 100vw, 100px" />
                        </a>
                        <a href="https://www.travelsmart.bg/" target="_blank" class="no-popup" rel="noopener">
                            <img class="alignnone wp-image-12347" src="https://tripsjournal.com/wp-content/uploads/2020/01/travelsmart.bg-logo.png" alt="" width="185" height="100" />
                        </a>
                        <a href="https://shantavo.bg/" target="_blank" class="no-popup" rel="noopener">
                            <img class="alignnone wp-image-12348" src="https://tripsjournal.com/wp-content/uploads/2020/01/ShantavoE.jpg" alt="" width="185" height="100" />
                        </a>
                    </p>
                </article>
            </section>

        </section>
    </div>
</section>