@using MyPlacesBox.Common
@model MyPlacesBox.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Add Landmarks";
}

<div class="text-center">
    <a class="button" asp-controller="GatherLandmarks" asp-action="Add">Add Data Landmarks</a>
</div>
