@model MyPlacesBox.Web.ViewModels.Hikes.CreateHikeInputModel
@{
    this.ViewData["Title"] = "Add new Hike";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var mountainItems = this.Model.MountainsItems.Select(x => new SelectListItem(x.Value, x.Key));
    var regionItems = this.Model.RegionsItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1>@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-3">
    <div asp-validation-summary="All"></div>
    <div class=" form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="RegionId">Region</label>
        <select asp-for="RegionId" class="form-control" asp-items="regionItems"></select>
        <span asp-validation-for="RegionId" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="MountainId">Mountain</label>
        <select asp-for="MountainId" class="form-control" asp-items="mountainItems"></select>
        <span asp-validation-for="MountainId" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeStartPoint.Name">Start Point</label>
        <input asp-for="HikeStartPoint.Name" class="form-control" />
        <span asp-validation-for="HikeStartPoint.Name" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeStartPoint.Altitude">Altitute</label>
        <input asp-for="HikeStartPoint.Altitude" class="form-control" />
        <span asp-validation-for="HikeStartPoint.Altitude" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeStartPoint.Latitude">Latitude</label>
        <input asp-for="HikeStartPoint.Latitude" class="form-control" />
        <span asp-validation-for="HikeStartPoint.Latitude" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeStartPoint.Longitute">Longitute</label>
        <input asp-for="HikeStartPoint.Longitute" class="form-control" />
        <span asp-validation-for="HikeStartPoint.Longitute" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeEndPoint.Name">End Point</label>
        <input asp-for="HikeEndPoint.Name" class="form-control" />
        <span asp-validation-for="HikeEndPoint.Name" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeEndPoint.Altitude">Altitute</label>
        <input asp-for="HikeEndPoint.Altitude" class="form-control" />
        <span asp-validation-for="HikeEndPoint.Altitude" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeEndPoint.Latitude">Latitude</label>
        <input asp-for="HikeEndPoint.Latitude" class="form-control" />
        <span asp-validation-for="HikeEndPoint.Latitude" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="HikeEndPoint.Longitute">Longitute</label>
        <input asp-for="HikeEndPoint.Longitute" class="form-control" />
        <span asp-validation-for="HikeEndPoint.Longitute" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="Length"></label>
        <input asp-for="Length" class="form-control" />
        <span asp-validation-for="Length" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="Marking"></label>
        <input asp-for="Marking" class="form-control" />
        <span asp-validation-for="Marking" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="Difficulty"></label>
        <input asp-for="Difficulty" class="form-control" />
        <span asp-validation-for="Difficulty" class="text-danger"></span>
    </div>
    <div class=" form-group">
        <label asp-for="Stars"></label>
        <input asp-for="Stars" class="form-control" />
        <span asp-validation-for="Stars" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>